html, body{
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

body{
    background: #1c1c1c;
}

header {
    height: 90px;
    background: #000;
}

.wrapper {
    width: 1000px;
    margin: 0 auto;
}

header .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

#logo{
    width: 150px;
}

#logo a{
    display: flex;
    gap: 10px;
    text-decoration: none;
}

#logo h1{
    margin: 0;
    color: #FFF;
}

#logo h1 span{
    color: #F19E39;
}

nav ul{
    display: flex;
    list-style-type: none;
    padding: 0;
    color: #FFF;
    font-size: 18px;
}

header nav ul li a{
    color: #FFF;
    text-decoration: none;
    display: block;
    padding: 30px 20px;
}

header nav ul li a:hover{
    color: #cdcdcd;
    border-bottom: 5px solid #ae7026c7;
}

.active {
    border-bottom: 5px solid #F19E39;
}

.active:hover {
    border-bottom: 5px solid #F19E39;
}

main{
    color: #FFF;
}

table {
    
    border-collapse: collapse;
}

th, td {
    padding: 10px;
}

tr:nth-child(even) {
    background-color: #3e3e3e;
}
tr:nth-child(odd) {
    background-color: #5a5a5a;
}

tr:nth-child(1){
    background-color: #3a3a3a;
}

tr:nth-child(2){
    background-color: #2c2c2c;
}

.tb-first-column{
    background-color: #111111;
}

.tb-border-right{
    border-right: 1px solid #5a5a5a;
}

form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
}

fieldset{
    border: 1px solid #2c2c2c;
    border-radius: 20px;
}

fieldset:first-child{
    display: flex;
    flex-direction: column;
}

input[type=text], input[type=password], select, textarea{
    padding: 3px 8px;
    border-radius: 10px;
    background-color: #3a3a3a;
    border: none;
    margin: 5px 0 10px 0;
    color: #FFF;
    font-size: 16px;
}

select{
    width: fit-content;
}

input[type=submit], button{
    background-color: #F19E39;
    border-radius: 20px;
    padding: 10px 20px;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

input[type=submit]:hover, button:hover{
    background-color: #c77d22;
}

.flex-bt{
    display: flex;
    justify-content: space-between;
}

.align-center{
    align-items: center;
}

.modal{
    background: #1e1e1eaf;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
}

.modal main{
    background: #2d2d2d;
    width: 300px;
    height: 500px;
    border-radius: 20px;
    padding: 20px;
}
.modal main header{
    background: none;
    height: auto;
    margin: 0 0 16px 0;
}

.modal main header h1{ 
    margin: 0;
}

.modal main header button{
    background: none;
    color: #FFF;
}

.modal main header button:hover{
    background: #000;
}

.modal main form{
    width: 100%;
}

.card-ticker{
    width: 300px;
    background: #2d2d2d;
    border-radius: 16px;
    padding: 14px;
    position: relative;
}

.card-ticker header {
    display: flex;
    align-items: center;
    gap: 14px;
    height: auto;
    background: none;
}

.card-ticker header img{
    width: 40px;
    height: 40px;
    border-radius: 8px;
}

.card-ticker header h4{
    margin: 0;
}

.card-ticker header span{
    margin: 0 0 0 auto;
}

.card-ticker main p {
    color: #868686;
    margin: 6px 0;
}

.card-ticker main p span{
    font-size: 40px;
}

.card-ticker main p span span{
    font-size: 20px;
}

.card-ticker footer{
    display: flex;
    justify-content: space-between;
}

.card-ticker footer p{
    color: #868686;
    margin: 6px 0 0 0;
}

.card-ticker footer p span{
    color: #e5e5e5;
    font-size: 18px;
}

#card-list{
    display: flex;
    gap: 20px;
}

.card-ticker .card-options{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #000000be;
    border-radius: 16px;
    display: none;
    justify-content: center;
    align-items: center;
    gap: 20px;
}