html, body{
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

body{
    background: #1c1c1c;
}

header {
    height: 90px;
    background: #000;
}

.wrapper {
    width: 1000px;
    margin: 0 auto;
}

header .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

#logo{
    width: 150px;
    display: flex;
    gap: 10px;
}

#logo h1{
    margin: 0;
    color: #FFF;
}

#logo h1 span{
    color: #F19E39;
}

nav ul{
    display: flex;
    list-style-type: none;
    padding: 0;
    color: #FFF;
    font-size: 18px;
}

header nav ul li a{
    color: #FFF;
    text-decoration: none;
    display: block;
    padding: 30px 20px;
}

header nav ul li a:hover{
    color: #cdcdcd;
    border-bottom: 5px solid #ae7026c7;
}

.active {
    border-bottom: 5px solid #F19E39;
}

.active:hover {
    border-bottom: 5px solid #F19E39;
}


main{
    color: #FFF;
}
